<!--<i class="material-icons">face</i>-->
<div class="homeContent about">
	<h2>About</h2>
	<hr>
	<p>
		Web Developer with 2 years professional web app development experience. Expertise in responsive design and coding minimalistic
		websites. Able to complete projects efficiently and satisfy customers with attractive, user-friendly websites. Always looking
		to grow as a developer and learn. Willing and passionate about giving 100% to all projects and tasks.
	</p>
</div>
<div class="homeContent posts">
	<h2>Posts</h2>
	<hr>
	<posts></posts>
</div>
<div class="homeContent projects">
	<h2>Projects</h2>
	<hr>
	<projects></projects>
</div>