<!--<i class="material-icons">face</i>-->
<div class="homeContent about">
	<h2>About</h2>
	<hr>
	<p>
		Web Developer with 2 years experience freelancing. Most experience has been behind the scenes as a devops. Expertise
		in responsive design and coding minimalistic websites. Able to complete projects efficiently and satisfy customers with
		attractive, user-friendly websites.
	</p>
</div>
<div class="homeContent posts">
	<h2>Posts</h2>
	<hr>
	<posts></posts>
</div>
<div class="homeContent projects">
	<h2>Projects</h2>
	<hr>
	<projects></projects>
</div>